/* На Планшеты экранах тоже фиксируем */
@media (max-width: 576px) {
  .offcanvas.offcanvas-start {
    max-width: 80%; 
  }
  /* Фото ресторан */
  .swiper-slide > img{
    width: 367px;
    height: 275px;
  }
  
  /* Фото  на странице 4 Карточки*/
    .card-body > #Zupy{
    margin: 0px;
    width: 180px;
    height: auto;
  }
  #FirtsMain .row {
    text-align: center;       /* текст и кнопка по центру */
  }

  #FirtsMain img {
    display: block;
    margin: 0 auto 30px auto; /* центрируем картинку */
  }
}

/* На Планшеты экранах тоже фиксируем */
@media (max-width: 768px) {
  .offcanvas.offcanvas-start {
    max-width: 80%; 
  }
  /* Фото ресторан */
  .swiper-slide > img{
    width: 367px;
    height: 275px;
  }
  
  /* Фото  на странице 4 Карточки*/
    .card-body > #Zupy{
    margin: 0px;
    width: 230px;
    height: auto;
  }
  #FirtsMain .row {
    text-align: center;       /* текст и кнопка по центру */
  }

  #FirtsMain img {
    display: block;
    margin: 0 auto 30px auto; /* центрируем картинку */
  }
}
/* На Ноутбуки-Мини экранах тоже фиксируем */
@media (max-width: 992px) {
  .offcanvas.offcanvas-start {
    max-width: 80%; 
  }
  /* Фото ресторан */
  .swiper-slide > img{
    width: 367px;
    height: 275px;
  }
  
  /* Фото на странице 4 Карточки*/
    .card-body > #Zupy{
    margin: 0px;
    width: 210px;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .offcanvas.offcanvas-start {
    max-width: 80%; 
  }

  /* Фото ресторан */
  .swiper-slide > img {
    max-width: 367px;    
    height: auto;        
  }

  /* Фото на странице 4 Карточки */
  .card-body > #Zupy {
    max-width: 350px;    
    height: auto;        
  }
}



#offcanvasWithBothOptions{
    background-color: #FFFFCC;
    #ImgFish{
    width: 100px;
    
}
}

.swiper-wrapper > .swiper-slide > img{
  width: 367px;
  height: 275px;
}


#FirtsMain{
        .card-title{
            color: rgb(0, 0, 0);
        }
        #ImgMain{
          height: 350px;
          padding: 10px;
          border-radius: 20px;
        }

        .card-body{
          text-align: start;            
        }
    }

    
#Btn{
    margin: 20px 0px 0px 100px;
    width: 50px;
    height: 50px;
    #BtnMenuText{
      font-size: 23px;
    }
  }
.offcanvas-body{

  .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
    #BtnIcons > button{
      background-color: transparent;
      border: none;
    }

}

.card{
  padding: 20px;
  margin: 30px;

  .card-title{
    margin-top: 20px;
  }
  img{
    width: 500px;
    height: 300px;
    border-radius: 1rem;
  }
  img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

img:hover {
  transform: scale(1.05); /* увеличение на 5% */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}

}

#FiveCard{
    .card-text{
    color: black;
  }
  img{
    width: 175px;
  }
}

#FootDiv{
  text-align: center;
  background-color: gray;

}


/* Сделать нормальную кнопку */